{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home.html">
                <img  src="media/img/logo.png" alt="" class="logo my-auto" > 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navi collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              
            <li class="nav-item">
              <a class=" nav-link" href={%url 'addpatient'%}>Add Patient </a>
            </li>
            <li class="LOG nav-item">
                    <a href={%url 'logout'%} class="nav-link">Logout</a>
                </li> 
          </ul>
        </div>
</nav>
<div style="background-image: url('https://static.projects.iq.harvard.edu/files/styles/os_files_xxlarge/public/postdoc/files/woman-3187087_1280.jpg?m=1538503074&itok=dbgEjslR');background-size: cover;height:800px;">
    <div class="form-group mx-auto" >
        <div style="margin-right: 30vw;margin-left:30vw;color:#192A56">
        <form method="POST">
                        <h1>
                          Create Doctor Profile
                          <br>
                          <i class="fa fa-camera-retro fa-lg"></i>
                        </h1>
            {% csrf_token %}
            {{form|crispy}}
             <button class="btn btn-primary" type="submit">create user</button> 
        </form>
        </div>
    </div>
</div> 

{%endblock%}
